/* ----------------------------------------------------------------------------
		 DESKTOP SETTINGS
---------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------- 
		 ARTICLE
---------------------------------------------------------------------------- */

.header {
	
	.fixed {
		padding-top: 10px;
	}

	h1 {
		font-size: 3.8em;
		margin: 0;
		padding: 0;
	}
}

nav {
	padding-top: 20px;
}

article {


	h2 {

		font-size: 10.2em;
		top: 40%;
	}	
}

.grid_cell {
	width: 50%;
	height: 80vh;
}


/* ---------------------------------------------------------------------------- 
		 PAGE-NEWS
---------------------------------------------------------------------------- */

.page-template-page-news {

	.wrapper {

	}
}

.grid-news {

	.grid_cell-news {

		p {

		}

		.grid_content-news {

			
			.blooper {
			
			}

			h3 {

			}

			p, a {

			}
		}

		&:hover {
			
			h3 {

			}
		}
	}
}