/* ----------------------------------------------------------------------------
    	COLOR VARIABLES
    - Color scheme
---------------------------------------------------------------------------- */

$white:			#FFF;	/* White color for ..... */
$gray:			#333;
$black:			#000;


/* ----------------------------------------------------------------------------
            FONT VARIABLES
---------------------------------------------------------------------------- */

$font_nunito: 'Nunito', sans-serif;

$font_playfair: 'Playfair Display', serif;

$work_sans: 'Work Sans', sans-serif;

$alegreya: 'Alegreya Sans SC', sans-serif;

$avenir: 'Avenir', sans-serif;